//scss文件
@import "./mixin";
.index_modules{
  padding-top:.44rem;
  .index_tip{
    padding:.1rem 0.15rem;
    span{
      color:$mainTheme;
      position: relative;
      &:after{
        content: '*';
        color:#fa6c6c;
        @include ct;
        right:-.1rem;
      }
    }
  }
  .form_style{
    .input_container.react-cell{
      padding-left: .15rem;
      background-color: #fff;
      @include fj(flex-start);
      @include hl(.5rem,.5rem);
      border-bottom: 1px solid #ebebeb;
      .react-title{
        flex:2
      }
      .react-value{
        flex:5;
        input{
          width:100%;
          font-size:.16rem;
        }
      }
    }
  }
}