/*公共样式文件*/
@import '../mixin';
body,div,span,header,footer,nav,section,aside,article,ul, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
    color:#333;
    outline: none;
}
html,body{
    font-size: 14px;
}
input::-webkit-input-placeholder{color:#c2c2c2;}
body{
    background-color: #ebebeb;
}
//通用样式组(react-命名空间)
//cell组
.react-cell{
    padding:0 .15rem;
    background-color:#fff;
    box-sizing: border-box;
    .react-cell-wrapper{
        @include wh(100%,.5rem);
        line-height: .5rem;
        border-bottom: 1px solid $borderC;
        &>a{
            display: inline-block;
            @include wh(100%,100%);
            position: relative;
        }
        &.cell-arrow-right a:after{
            content: ' ';
            @include wh(.08rem,.08rem);
            border:1px solid $mainTheme;
            @include ct;
            margin-top:-.04rem;
            right:.03rem;
            border-top: none;
            border-left: none;
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);;
        }
    }
}
